src/main/resources/mail.xsd

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
-->
<xs:schema xmlns:tns="http://adapter.epslite.russianpost.ru/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://adapter.epslite.russianpost.ru/">

    <xs:element name="SendMail" type="tns:SendMail"/>
    <xs:element name="SendMailResponse" type="tns:SendMailResponse"/>
    <xs:complexType name="SendMail">
        <xs:sequence>
            <xs:element name="arg0" type="tns:mail" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mail">
        <xs:sequence>
            <xs:element name="mailData" type="xs:string" minOccurs="0"/>
            <xs:element name="mailId" type="xs:int"/>
            <xs:element name="rawAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="receiver" type="xs:string" minOccurs="0"/>
            <xs:element name="sender" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SendMailResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>