adapter/src/main/resources/letter_service/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://russianpost.com/sendLetter"
           xmlns:tns="http://russianpost.com/sendLetter"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="SendLetterRequestType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Recipient" type="tns:RecipientType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Sender" type="tns:SenderType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Xml" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SendLetterResponseType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="LetterId" type="tns:LetterId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SenderType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="customerId" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="token" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RecipientType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="rawAddress" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="fio" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="orgName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="LetterId">
        <xs:restriction base="xs:string">
            <xs:length value="14"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>